<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.guide.travel.mapper.ScheduleMapper">
	<insert id="sInsert" parameterType="kr.co.guide.travel.domain.ScheduleDTO">
		INSERT INTO tbl_schedule(schedule_no, schedule_start, schedule_end, member_id)
		VALUES(seq_schedule.nextval, #{schedule_start}, #{schedule_end}, #{member_id})
		<selectKey keyProperty="schedule_no" resultType="int" >
        	SELECT seq_schedule.currval FROM DUAL
    	</selectKey>   

	</insert>
	
 	<insert id="sdInsert" parameterType="kr.co.guide.travel.domain.ScheduleDetailDTO">
		INSERT INTO tbl_schedule_detail(schedule_day, schedule_order, schedule_no, tour_no)
		VALUES(#{schedule_day}, #{schedule_order}, #{schedule_no}, #{tour_no})
	</insert>
</mapper>
	

	
<!-- 	<insert id="sdInsert" parameterType="kr.co.guide.travel.mapper.ScheduleDetialMapper"> -->
<!-- 		INSERT INTO tbl_schedule_detail(schedule_day, schedule_order, schedule_no, tour_no) -->
<!-- 		VALUES -->
<!--  		<foreach collection="list" item="item" separator=" , ">  -->
<!-- 			(#{schedule_day}, #{schedule_order}, -->
<!-- 			(SELECT MAX(schedule_no) -->
<!-- 			FROM tbl_schedule -->
<!-- 			WHERE member_id = #{member_id}), -->
<!-- 			#{tour_no}) -->
<!-- 		</foreach> -->
<!-- 	</insert> -->